/* Evite aplicar background em tudo com * */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.btn {
    color: #AAA9A9;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* Botão "Mais Detalhes" */
.btn-spider-detalhes {
    background-color: white;
    color: black;
    border-radius: 20px;
    height: 70px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 20px;
    position: absolute;
    top: 505px;
    left: 64px;
    width: 300px;
    height: 105px;
    z-index: 2;
}

/* Botão "+" */
.btn-spider-plus {
    background-color: #514F4F;
    color: white;
    border-radius: 50%; /* círculo perfeito */
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    position: absolute;
    top: 513px;
    left: 418px;
    width: 90px;
    height: 90px;
    z-index: 2;
}

.banner-container {
    position: relative;
    width: 646px;
    height: 1148px;
    border-radius: 30px;
    background-size: cover;          /* cobre todo o container */
    background-position: center;     /* centraliza a imagem */
    background-repeat: no-repeat;    /* evita repetição */
    color: white;
}

/* Gradiente overlay cobrindo todo o banner */
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 100% para cobrir tudo */
    border-radius: 30px;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));
    pointer-events: none;
    z-index: 1;
}

.spider-title{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    top: 37px;
    left: 33px;
    width: 610px;
    height: 242px;
    object-fit: contain;
    z-index: 2;
}
