body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.btn {
    color: #AAA9A9;
    background-color: transparent;
    border: none;   
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
}

.bannerMF {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100px;
}

.bannerFilmesContainer {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
}

.bannerFilme {
    width: 300px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}